html {
	width: 100%;
	height: 100%;
	background-color: lightgray; 
}

body {
	width: 80%;
	min-width: 800px;
	height: 100%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 10px black;
	text-align: center;
}

a:link {text-decoration: none;}
a:visited {}
a:hover {text-decoration: underline;}
a:active {}

.i {display: inline;}
.b {display: block;}
.ib {display: inline-block; vertical-align: top;}
.t {display: table;}
.tc {display: table-cell;}
.tr {display: table-row;}
.fl {float: left;}
.fr {float: right;}
.cb {clear: both;}
